<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>angular-chip-using-bootstrap-ui-typeahead</title>
  <link rel="shortcut icon" href="">

<link rel='stylesheet' href='assets/ui-bootstrap-csp.css'>
<link rel='stylesheet' href='assets/bootstrap-3.3.7-dist/css/bootstrap.min.css'>



    <!-- fontawesome -->
  <link rel="stylesheet" href="assets/fontawesome-free-5.9.0-web/css/all.css">
  <link rel="stylesheet" href="assets/fontawesome-free-5.9.0-web/css/v4-shims.css">

    <!-- vis -->
  <link rel="stylesheet" type="text/css" href="assets/vis-network/dist/vis-network.css">

  <link rel="stylesheet" href="css/style.css">







</head>
<body ng-controller="MainCtrl as $ctrl">

    <!-- Split button -->
<!--     <div class="btn-group" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-primary" ng-click="split_button_fun()">Action</button>
      <button type="button" class="btn btn-primary" uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a href="#" >Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div> -->



 <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar" data-ng-init="featureClass=false" data-ng-class="{'active': featureClass}" >
                <div class="sidebar-header">

                        

                    <h3>PLANET</h3>

                    <strong>
                      P
                    </strong>
                  

                </div>

                <ul class="list-unstyled components">
                    <li>
                      <!--  class="active" -->
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="fab fa-hubspot"></i>Network
                        </a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">

                            <li><a href="#" ng-click="expandGraph()"><i class="fas fa-expand-arrows-alt"></i>Expand</a></li>

                            <li><a href="#" ng-click="contractGraph()"><i class="fa fa-compress-arrows-alt"></i>Contract</a></li>
                            

                            <li><a href="#" ng-click="Undo()">
                            <i class="fa fa-undo-alt"></i>
                            Undo</a>
                            </li>

                            <li><a href="#" ng-click="Redo()">
                            <i class="fa fa-redo-alt"></i>
                            Redo</a>
                            </li>

                            <li><a href="#" ng-click="removeNodes()"><i class="fas fa-trash-alt"></i>Delete</a></li>
                        </ul>
                    </li>

<!--                     <li>

                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="fas fa-bullseye"></i>
                            Nodes
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="#" ng-click="removeNodes()"><i class="fas fa-trash-alt"></i>Delete</a></li>

                            <li><a href="#" ng-click="mergeNodes()"><i class="glyphicon glyphicon-briefcase"></i>Merge</a></li>

                            <li><a href="#" ng-click="unmergeNodes()">
                            <i class="glyphicon glyphicon-briefcase"></i>Unmerge</a>
                            </li>

                        </ul>
                    </li> -->
                    <li>

                        <a href="#viewSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="fas fa-binoculars"></i>
                            View
                        </a>
                        <ul class="collapse list-unstyled" id="viewSubmenu">
                            <li><a href="#" ng-click="Rearrange()"><i class="fas fa-sync-alt"></i>Rearrange</a></li>

                            <li><a href="#" ng-click="currencyToggle()"><i ng-class="ctrlnetworks.controlParams.splitCurrencies ? 'fab fa-creative-commons-nc' : 'fas fa-dollar-sign'"></i>{{ctrlnetworks.controlParams.splitCurrencies && 'HideCurr' || 'ShowCurr'}}</a></li>

                            <li><a href="#" ng-click="communityToggle()">
                            <i ng-class="community ? 'fab fa-creative-commons-pd' : 'far fa-copyright'"></i>{{community && 'HideCom' || 'ShowCom'}}</a>
                            </li> 

                            <li><a href="#" ng-click="physicsToggle()">
                            <i ng-class="community ? 'fas fa-crop-alt' : 'fas fa-crop'"></i>{{ctrlnetworks.physics.options.enabled && 'DisablePhysics' || 'EnablePhysics'}}</a>
                            </li>

                            <li><a href="#" ng-click="physicsToggle()">
                            <i ng-class="community ? 'fas fa-crop-alt' : 'fas fa-crosshairs
'"></i>{{ctrlnetworks.physics.options.enabled && 'Select' || 'Drag'}}</a>
                            </li>


                        </ul>
                    </li>

                </ul>

                <ul class="list-unstyled components">
                    <li><a  class="download" ng-click="downloadGraph()"><i class="fas fa-file-download"></i>Download</a></li>

         <!--            <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to...</a></li> -->
                </ul>
            </nav>





<!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">

                        <div class="navbar-header">
                   
                  <span>
                      <button  
     data-ng-click="featureClass=!featureClass" 
     
      type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" style="background-color: white"> <i class="glyphicon glyphicon-align-center" style="color: black"></i>
                      </button>
                  </span>
 
 

                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                              <i class="fas fa-ellipsis-v" style="color: white"></i>
                            <span class="sr-only">Toggle navigation</span>
              <!--               <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> -->
                            </button>

                          <!-- <a class="navbar-brand" href="#">Nav</a> -->

                        </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>

          <a href="#1" data-toggle="tab">Network 
          <span class="sr-only">(current)</span>
          </a>
        </li>
        <li><a href="#2" data-toggle="tab">View</a></li>
        <li><a href="#3" data-toggle="tab">Node</a></li>



<!--         <li class="dropdown">
          <a href="#3" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SomeDropDown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#1a">Action</a></li>
            <li><a href="#2a">Another action</a></li>
            <li><a href="#3a">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->

      </ul>

      <!-- search bar -->
      <div class="navbar-right" >
        
      <form class="form-inline" role="search" >

        <div class="form-group pull-right" id="search"  ng-click="ev = $event">
          <!-- ng-click="addStyle($event)" ng-blur="removeStyle($event)" -->
          <!-- ng-click="toggle_search()" -->

        <chips ng-model="search_res" class = "search_test" style="padding-right: 60px;padding-left: 30px;">
            <!-- ctrlnetworks.controlParams.focal_items.full_list -->
            
            <chip-tmpl >
              <!-- to do: style="display:none;" -->
                <div class="default-chip" style="position:relative;z-index: 150;">
                    {{chip}}
                    <span class="glyphicon glyphicon-remove" remove-chip></span>
                </div>
            </chip-tmpl>
            
            <input ng-model-control ng-model="typeaheadmodel" uib-typeahead="entity for entity in entity_id_list | filter:$viewValue" type="text" class="form-control" placeholder="   Search..." style="padding-left: 25px" autofocus></input>
            

<!--             <button type="submit" class="form-control form-control-submit" ng-click="InduceGraphWithHops()"><span style="padding-left: 8px; padding-right: 8px; padding-top: 0px;">Add</span>
            </button> -->


                <!-- Split button -->
              <div class="btn-group form-control form-control-submit" uib-dropdown>

                <button id="split-button" type="submit" class="btn btn-primary" ng-click="InduceGraphWithHops()" style="height: 40px">Action</button>
                <button type="submit" class="btn btn-primary" uib-dropdown-toggle style="height: 40px">
                  <span class="caret"></span>
                  <span class="sr-only">Split button!</span>
                </button>



                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">

                  <li role="menuitem"><a href="#">Hops </a>   <div class="form-control form-control-submit"><input type="number" id="number" value="1" min="1" max="5" style="width: 50px; height: 40px"></div></li>
                  <li class="divider"></li>
                  <li role="menuitem"><a href="#">By Transaction</a></li>
                  <li role="menuitem"><a href="#">By Name</a></li>
                  
                </ul>
              </div>

          
              <!-- search icon -->
            <span class="search-label"><i class="glyphicon glyphicon-search" ></i></span>
        </chips>

          <!-- <input type="number" class="form-control" id="number" value="1" min="1" max="5"> -->



        </div>



      </form>

      
      </div> <!-- navbar-right  -->

    </div><!-- /.navbar-collapse -->




      <div class="tab-content clearfix">
        <div class="tab-pane fade" id="1">
          <h3 style="color: white">Functions of One</h3>
        </div>
        <div class="tab-pane fade" id="2">
          <h3 style="color: white">Functions of Two</h3>
        </div>

        <div class="tab-pane fade" id="3">
          <h3 style="color: white">Functions of Three</h3>
        </div>   

      </div>

        <div >
            <!-- ng-show="input_search.node_id_list" -->
          <!--  id="3" -->
          <h3 style="color: white">Focal Entities</h3>

            <chips ng-model="ctrlnetworks.controlParams.focal_items.full_list" render="customizeRender(data)">
                <chip-tmpl id="focal_chip" >
                    <div class="default-chip" >
                        {{chip}}
                        <span class="glyphicon glyphicon-remove" remove-chip="chipremove(chip)"></span>
                    </div>
                </chip-tmpl>

            </chips>

<!--             <div style="color: white">Focal Entities = {{ctrlnetworks.controlParams.focal_items.node_list}}</div> -->


        </div> 



      </div>  <!-- container-fluid -->

                </nav>






                    <div class="row row-no-gutters" style="background-color:#212121">
                    <div class="col-sm-9">
                            <vis-network data="data" options="options" events="events" control="networkViewInfo" outnetworks="ctrlnetworks" ctrlparams="re_controlParams" height="100%"></vis-network>


                    </div>

                    <div class="col-sm-3" >
                      <div ng-if="info.focal == 'node'">
                      <h2 style="color:#ccc;">Entity Info</h2>
                      
                      <div class="line"></div>
                      <p>Label: {{info.label}}</p>
                      <p>Type: {{info.feature_list.type}}</p>
                      <p>Industry: {{info.feature_list.industry}}</p>
                      
                      <div class="modal-demo">

                        <button type="button" class="btn btn-default" ng-click="$ctrl.open()">Show Entity Details</button>
                      </div>

                      </div>


                      <div ng-if="info.focal == 'edge'">
                      <h2 style="color:#ccc;">Transaction Info</h2>
                      
                      <div class="line"></div>

                      <div ng-repeat="(key, value) in info"></div>
                      <p>Label: {{value.base_curr_cd}</p>
                      <!-- <p>Type: {{info.feature_list.type}}</p> -->
                      <!-- <p>Type: {{info.feature_list.industry}}</p> -->

                      <div class="modal-demo">

                        <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg')">Show Transaction Details</button>
                      </div>

                      </div>


                    </div>

                  </div>

                <input ng-model="typeaheadmodel" uib-typeahead="entity for entity in entity_id_list | filter:$viewValue" type="text" placeholder="   Search..." style="padding-left: 25px" autofocus></input>


                <p>vis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angularvis angular</p>
                <p>{{ev.pageX}}</p>
                <button class="btn btn-primary" ng-click="focal_details()">Expand</button>

<!--                 <vis-network data="ure_network_data" options="ure_options" events="events"  outnetworks="ure_network" height="100%"></vis-network> -->

            </div>





 </div>


  <a ng-click= "backToTop()" id="return-to-top"><i class="fas fa-angle-up"></i></a>






<!-- partial -->
<script src='assets/angularjs/angular.js'></script>
<script src="assets/angularjs/angular-animate.js"></script>
<script src="assets/angularjs/angular-sanitize.js"></script>

<script src='assets/angular-chips.min.js'></script>

  <script src="assets/bootstrap-3.3.7-dist/js/jquery.min.js"></script>

  <script src="assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<script src='assets/ui-bootstrap.js'></script>
<script src='assets/ui-bootstrap-tpls.js'></script>

  <script src="assets/axios/dist/axios.min.js"></script>

  <script src="assets/vis-network/dist/vis-network.js"></script>

    

<script  src="js/app.js"></script>

<!-- modules -->
<script src="js/angular-vis.js"></script>

<script  src="js/controllers/maincontroller.js"></script>


    <!-- Services -->
  <script src="js/services/ui_events.js"></script>
  <script src="js/services/ui_graph_api.js"></script>

  <script src="js/ui_vis_options.js"></script>

  <script src="js/utils.js" type="text/javascript"></script>




    <script type="text/javascript">
    $(document).ready(function(){
    $('#search').on("click",(function(e){
    $(".form-group").addClass("sb-search-open");
      e.stopPropagation()
    }));

     $(document).on("click", function(e) {
      if ($(e.target).is("#search") === false && $(".form-control").val().length == 0) {
        $(".form-group").removeClass("sb-search-open");
      }
    });

      $(".form-control-submit").click(function(e){
        $(".form-control").each(function(){
          if($(".form-control").val().length == 0){
            e.preventDefault();
            // $(this).css('border', '2px solid red');
          }
      })
    })
  })
  </script>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Entity Details</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul>
            <li ng-repeat="item in $ctrl.items">
                <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ $ctrl.selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</script>



</body>
</html>